.page-text1 {
    top: 60px;
    margin: 100px 15px 0 15px;
    font-size: 1.5rem;
}
.page-text2 {
    top: 60px;
    margin: 50px 15px 100px 15px;
    font-size: 1.5rem;
}
.landing {
    font-size: 2rem;
    color: blueviolet;
}

.services-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    align-content: stretch;
    margin: 80px 0 100px 0;
}

.services-list li {
    font-size: 1.5em;
    background-color: gray;
    padding: 2px 15px;
    border-radius: 10px;
}

@media (max-width: 618px) {
    .services-list {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        align-content: stretch;
    }
    .services-list li{
        margin-top: 40px;
    }
}