.navbar-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  background-color: #75d5f5;
  position: sticky;
  overflow:hidden;
  top: 0;
  width: 100%;
}
.navbar-logo {
  height: 20px;
  margin-left: 10px;
}

.navbar-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
  margin-right: 10px;
}

.navbar-list-item {
  margin-right: 10px;
}
